.DS_Store
.atom/
.idea
.vscode/
.packages
.pub/
build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
packages
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies
Podfile.lock
.oldcode.txt
*.oldcode.txt
.circle.dart
.file_upload.dart
.devices_page.dart