.mont-light {
	font-family: Montserrat;
	font-weight: 400;
}

.mont-reg {
	font-family: Montserrat;
	font-weight: 500;
}

.mont-bold {
	font-family: Montserrat;
	font-weight: 700;
}

.mont-black {
	font-family: Montserrat;
	font-weight: 900;
}
